
.collapsedMine-hedefeKalanH5 {
    margin: 20px 0px 0px 20px;
    border-bottom: 1px solid gray;
}

.collapsedMine-table {
    text-align: center;
    vertical-align: middle;
}

#collapsedMine-footer {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #636f8328;
}

.collapsedMine-footerControlButtons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#collapsedJoin-bodyMain {
    background-color: rgb(69, 70, 79, 0.02);
    border-top: 1px solid grey;
}

#collapsedJoin-remainingGoal {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#collapsedJoin-inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ced2d86b;
    border: solid 1px #ced2d8c9;
}

#collapsedJoin-inputField {
    max-width: 150px;
    margin-left: 20px;
    background-color: #636f8375;
    color: black;
    font-size: 1.3em;
}

#collapsedJoin-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636f8328;
}

.collapsedJoiner-footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}